@font-face {
  font-family: 'Apercu-Mono';
  src: local('Apercu-Mono'), url(./fonts/FontsFree-Net-ApercuMono.ttf) format('truetype');
}

@font-face {
  font-family: 'Apercu-Light';
  src: local('Apercu-Light'), url(./fonts/FontsFree-Net-ApercuLight.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff4e5;
  background-color: #fff4e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo {
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  height: 150px;
}

.app {
  background-color: #2c4023;
  width: 450px;
  min-height: 200px;
  height: min-content;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
}

/* QUESTION SECTION */
.question-section {
  width: 100%;
  position: relative;
  font-family: Apercu-Mono;
}

.qCount span {
  font-size: 28px;
}

.qText {
  margin-top: 45px;
}

/* ANSWER SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #2c4023;
  background-color: #f6f1f0;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #ff2;
  cursor: pointer;
  font-family: Apercu-Light;
  font-weight: bold;
}

button:hover {
  background-color: #ff2;
  font-size: 18px;
}

/* SCORE SECTION */
.score-section {
  display: block;
  font-size: 24px;
  align-self: center;
  font-family: Apercu-Mono;
  margin-left: auto;
  margin-right: auto;
}

#playBtn {
  display: block;
  width: 100px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#playBtn:hover {
  padding: 7px;
}
